
/* Callout Element */
.callout {
    display: block;
    line-height: 25px;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: blueviolet;
    background-color: aqua;
    margin-top: 8px;
    margin-bottom: 8px;
}

.callout.full-width {
    width: auto;
}

.callout.orange {
    background-color: orange; 
    border-color: orangered;
}

/* Quote Element */
.quote {
    display: block;
    border-left-color: #007BFF;
    border-left-width: 5px;
    border-left-style: solid;
    background-color: rgb(223, 240, 255);
    padding: 20px;
    border-radius: 5px 8px 8px 5px;
    color: #007BFF;
    white-space: normal;
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
}

.quote.full-width {
    width: auto;
}

.quote.green {
    border-left-color: green;
    background-color: rgb(187, 249, 176);
    color: green;
}

.quote.red {
    border-left-color: red;
    background-color: rgb(255, 197, 197);
    color: rgb(191, 0, 0);
}

.img-block {
    text-align: center;
}

/*Hightlight*/
.highlight {
    background-color: yellow;
    border-radius: 5px;
}

/* Table Element */
table {
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding-bottom: 100px; /* Add padding at the bottom */
}

th,
td {
    padding: 1%;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: left;
    white-space: normal; /* Prevent wrapping in one line */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Show ellipsis for overflow */
    max-height: 3.6em; /* Equivalent to two lines of text with line height of 1.8em */
    /*max-width: 200px; /* Set the maximum width */
    line-height: 1.8em;
}


th {
    background-color: #007BFF;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #e5e5e5;
}

/* Code-block Element */
.code-block {
    font-family: Consolas,"courier new";
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    /*max-height: 500px;*/
    color: whitesmoke;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(77, 77, 77);
    margin-top: 8px;
    margin-bottom: 8px;
    overflow-y: auto;
    overflow-x: auto;
    white-space: pre-wrap;
    word-break:keep-all;
    overflow-wrap:break-word;
}

pre {
    margin: 0;
    line-height: 25px;
    overflow: auto;
}

code {
    font-family: Consolas,"courier new";
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: #00000020;
    padding: 2px;
    border-radius: 5px;
}

code:hover {
    background-color: #00000033;
}