/* Select Dropdown Element */
input,
select {
    padding: 10px;
    border-radius: 10px;
    border-width: 1px;
    height: fit-content;
    transition: background-color 0.3s ease;
}

input:hover,
select:hover {
    background-color: rgb(223, 245, 253);
}

.fit {
    width: 100%;
}

button {
    padding: 10px;
    border-radius: 10px;
    border-width: 1px;
    cursor: pointer;
}

button.menu {
    min-width: 100px;
}

/* Grid Block */

/* Callout Element */
.callout {
    display: block;
    line-height: 25px;
    max-width: fit-content;
    width: auto;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: blueviolet;
    background-color: aqua;
    margin-top: 8px;
    margin-bottom: 8px;
}

.callout.full-width {
    max-width: 100vw;
}

.callout.orange {
    background-color: orange; 
    border-color: orangered;
}

/* Quote Element */
.quote {
    display: block;
    border-left-color: #007BFF;
    border-left-width: 5px;
    border-left-style: solid;
    background-color: rgb(223, 240, 255);
    padding: 20px;
    border-radius: 5px 8px 8px 5px;
    color: #007BFF;
    white-space: normal;
    max-width: fit-content;
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: auto;
}

.quote.full-width {
    max-width: 100vw;
}

.quote.green {
    border-left-color: green;
    background-color: rgb(187, 249, 176);
    color: green;
}

.quote.red {
    border-left-color: red;
    background-color: rgb(255, 197, 197);
    color: rgb(191, 0, 0);
}

.quote.pink {
    border-left-color: rgb(197, 3, 106);
    background-color: pink;
    color: rgb(197, 3, 106);
}

.quote.blue {
    border-left-color: blueviolet;
    background-color: aqua;
    color: blueviolet;
}

.img-block {
    text-align: center;
}

/*Hightlight*/
.highlight {
    background-color: yellow;
    border-radius: 8px;
    padding: 5px;
}

.highlight.white {
    background-color: white;
}

.highlight.blue {
    background-color: aqua;
}

/*Color Palette*/
.palette-grid {
    display: grid;
    border-radius: 15px; 
    padding: 0px;
    width: auto;
    height: auto;
    gap: 0; 
    grid-auto-flow: row dense; 
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.palette-grid.auto-fit {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.palette-grid.auto-fill {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.color-palette {
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--palette-color);
    width: 60px;
    max-width: 80px;
    min-height: 60px;
    padding-left: 80px; /* Adjust padding to make space for the color box */
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 5px;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.1s ease-in-out;
}

.color-palette::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 40px; /* Size of the square color box */
    height: 40px;
    background-color: var(--palette-color); /* Using CSS variable */
    border-radius: 5px; /* Border radius for the color box */
}

.color-code {
    position: absolute;
    top: 50%;
    left: 60px; /* Adjust this to position the text correctly */
    transform: translateY(-50%);
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1rem;
    color: var(--palette-color);
    text-transform: uppercase;
}

.color-palette:hover {
    background-color: var(--palette-color);
    border-color: rgb(0, 0, 0);
    border-style: dashed;
    transform: scale(1.02); /* Scale up slightly on hover */
}

.color-palette:hover::before {
    background-color: white; /* Change background color to white on hover */
}

.color-palette:hover .color-code {
    color: rgb(47, 47, 47); /* Change text color on hover */
}

.color-palette:active {
    transform: scale(1.0);
    /*animation: shake 0.3s ease-in-out; /* Apply the shake animation on click */
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(-5deg); }
    75% { transform: rotate(3deg); }
    100% { transform: rotate(0deg); }
}

.table-container {
    display: inline-block;
}

/* Table Element */
table {
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding-bottom: 100px; /* Add padding at the bottom */
}

table.fixed { table-layout:fixed; }

table.sticky {
    position: sticky;
    top: 7%;
    width: 100%;
    z-index: 10;
}

th,
td {
    padding: 1%;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: left;
    white-space: normal; /* Prevent wrapping in one line */
    overflow: auto; /* Hide overflowing text */
    text-overflow: ellipsis; /* Show ellipsis for overflow */
    max-height: 3.6em; /* Equivalent to two lines of text with line height of 1.8em */
    /*max-width: 200px; /* Set the maximum width */
    line-height: 1.8em;
}

th {
    background-color: #007BFF;
    color: #fff;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #e5e5e5;
}

/* Code-block Element */
.codeblock {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: Consolas,"courier new";
    font-size: 14px;
    padding: 10px;
    border-radius: 10px;
    max-height: 500px;
    color: whitesmoke;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(77, 77, 77);
    margin-top: 8px;
    margin-bottom: 8px;
    overflow: auto;
    white-space: pre;
}

.codeblock.fit {
    max-width: fit-content;
    width: auto;
}

.codeblock::before {
    content: '🔴 🟡 🟢 ' attr(lang);
    margin-bottom: 5px;
    color: rgb(212, 212, 212);
    font-size: 12px;
    font-weight: bold;
    position: sticky;
    padding: 3px 8px;
    top: 0px;
    left: 0px;
    width: auto;
    height: 20px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.336);
    text-transform: uppercase;
}

/* codeblock variation */

.codeblock.pad {
    font-size: 16px;
    /*box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.15);*/
    color: black;
    border-color: #ffffff;
    border-width: 5px;
    height: fit-content;
    transition: box-shadow 0.3s ease;
}

.codeblock.pad.pre-line {
    white-space: pre-line;
    text-wrap: nowrap;
}

.codeblock.pad.normal {
    white-space: normal;
    text-wrap: pretty;
}

.codeblock.pad:hover {
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.15);
}

.codeblock.pad.no-shadow:hover {
    box-shadow: none;
} 

.codeblock.pad::before {
    font-size: 13px;
    text-transform: none;
    /*overflow: hidden;*/
}

.codeblock.pad::before {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.codeblock.pad.dream-banana::before {
    background-color: #fbb9ff;
}

.codeblock.pad.warn-banana::before {
    background-color: black;
    color: white;
}

/*
.codeblock.transparent::before,
.codeblock.green::before,
.codeblock.blue::before,
.codeblock.pink::before,
.codeblock.beige::before {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
*/

.codeblock.gradient {
    background-image: linear-gradient(to bottom, white, var(--color));
} 

.codeblock.beige {
    background-color: beige;
    --color: beige;
}

.codeblock.pink {
    background-color: rgb(254, 215, 221);
    --color: rgb(254, 215, 221);
}

.codeblock.blue {
    background-color: #CAF4FF;
    --color: #CAF4FF;
}

.codeblock.green {
    background-color: #D9EDBF;
    --color: #D9EDBF;
}

.codeblock.red {
    color: white;
    background-color: #EC8F6A;
    --color: #EC8F6A;
}

.codeblock.banana {
    background-color: #FFE135;
    --color: #FFE135;
}

.codeblock.dream-banana {
    color: rgb(0, 0, 0);
    background-color: #faf44e;
    border-color: #fbb9ff;
    --color: #faf44e;
}

.codeblock.warn-banana {
    color: rgb(0, 0, 0);
    background-color: yellow;
    border-color: black;
    --color: yellow;
}

.codeblock.transparent {
    background-color: rgba(0,0,0,0.0);
    --color: rgba(0,0,0,0.0);    
}

/*
.codeblock:hover::before {
    content: '🔴 🟡 🟣 ' attr(lang) ' copy';
    cursor: pointer;
}
*/

pre {
    margin: 0;
    line-height: 25px;
    overflow: auto;
}

code {
    font-family: Consolas,"courier new";
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: #00000020;
    padding: 2px;
    border-radius: 5px;
    width: fit-content;
}

code:hover {
    background-color: #00000033;
}

/* Toggle Element */

.toggle-container {
    width: 100%;
    margin: 5px auto;
    color: black;
    text-align: start;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease, padding 0.5s ease;
}

.toggle-header {
    padding: 10px 50px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border-radius: 5px 5px 0 0;
    transition: background-color 0.3s ease;
}

.toggle-header::before {
    content: "\f054";
    font-size: 22px;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    padding: 0px 0px;
    translate: -28px -4px;
    /*color: white;*/
    position: absolute;
}

.toggle-header.active::before {
    content: "\f078";
}

/*
.toggle-container:hover .toggle-header {
    background-color: #0056b3;
}
*/
.toggle-header:hover {
    background-color: #0d6dd3;
}

.toggle-content {
    max-height: 0;
    opacity: 0;
    overflow: auto;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    padding: 0 15px;
}

.toggle-container.active .toggle-content {
    max-height: 650px; /* Adjust based on content height */
    opacity: 1;
    padding: 15px;
}

/* Toggle Variation */

.toggle-header.blue {
    background-color: aqua;
    color: black;
}

.toggle-header.blue:hover {
    background-color: rgb(0, 225, 255);
}

.toggle-header.pink {
    background-color: #feccee;
    color: black;
}

.toggle-header.pink:hover {
    background-color: pink;
}

.toggle-header.green {
    background-color: #D9EDBF;
    color: black;
}

.toggle-header.green:hover {
    background-color: #d0e5b6;
}

.toggle-header.cornflowerblue {
    background-color: cornflowerblue;
    color: rgb(255, 255, 255);
}

.toggle-header.cornflowerblue:hover {
    background-color: rgb(85, 127, 205);
}

/* Radio Input Element */

.radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #EEE;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: auto;
    max-width: 100%;
    font-size: 15px;
}

.radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
}
  
.radio-inputs .radio input {
    display: none;
}

.radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: 5px 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
    background-color: #ffffff;
    font-weight: bold;
    color: rgba(51, 65, 85, 1);
}

/* Slider Element */

.slider-container {
    position: relative;
    width: 100%;
    height: 27px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
    /*background-color: #faf44e;*/
}

.slider {
    -webkit-appearance: none;
    width: calc(100% - 60px); /* Adjusted width to accommodate space for slider value */
    height: 15px;
    border-radius: 30px;
    border-width: 0px;
    border-style: solid;
    border-color: #3a7cff;
    background: linear-gradient(to right, #00ccff00, #3ad8ff);
    outline: none;
    opacity: 0.9;
    transition: opacity 0.2s;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 30px;
    border-radius: 50px;
    background: #ffffff;
    border-style: solid;
    border-width: 3px;
    border-color: #3a7cff;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease-in-out;
}

.slider::-webkit-slider-thumb:hover {
    border-style: dashed;
    background-color: #0099ff6e;
}

.slider-value {
    position: relative;
    bottom: 30px;
    left: calc(100% - 20px); /* Position at the end of the slider track */
    transform: translate(-50%, 0%);
    background-color: white;
    padding: 0px 0px;
    width: fit-content;
    min-width: 50px;
    text-align: center;
    height: fit-content;
    border-radius: 50px;
    border: 1px solid #3a7cff;
    font-size: 16px;
}

