/* Pattern */
.dotpad-pattern {
    background-image: radial-gradient(rgba(12, 12, 12, 0.088) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
}

.lined-pattern {
    background-image: linear-gradient(#e1e1e1 0.1em, transparent 0);
    background-size: 100% 30px;
}

.notebook-pattern {
    background: #f1f1f1;
    background-image: linear-gradient(
        90deg,
        transparent 50px,
        #ffb4b8 50px,
        #ffb4b8 52px,
        transparent 52px
      ),
      linear-gradient(#e1e1e1 0.1em, transparent 0.1em);
    background-size: 100% 30px;
    background-position: 30px 0px;
}

.wave-pattern {
    background: linear-gradient(#ffffff 50%, rgba(255,255,255,0) 0) 0 0,
    radial-gradient(circle closest-side, #FFFFFF 53%, rgba(255,255,255,0) 0) 0 0,
    radial-gradient(circle closest-side, #FFFFFF 50%, rgba(255,255,255,0) 0) 55px 0 #48B;
    background-size: 110px 200px;
    background-repeat: repeat-x;
}

.pastel-chest-pattern {
    /*width: 100%;
    height: 100%;*/
    --color1: rgb(108, 231, 221);
    --color2: rgb(250, 255, 178);
    background-color: var(--color1);
    background-image: linear-gradient(45deg, var(--color2) 25%, transparent 25%, transparent 75%, var(--color2) 75%, var(--color2)), 
                      linear-gradient(45deg, var(--color2) 25%, var(--color1) 25%, var(--color1) 75%, var(--color2) 75%, var(--color2));
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.grey-chest-pattern {
   /* width: 100%;
    height: 100%;*/
    background-color: white;
    background-image: linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc), 
                      linear-gradient(45deg, #ccc 25%, white 25%, white 75%, #ccc 75%, #ccc);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
  }

.cross-pattern {
    opacity: 0.8;
    background: radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#a3a8ff 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #a3a7ff 2px, #e5e5f7 2px) -1px 0;
    background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}

.pool-pattern {
    /*width: 100%;
    height: 100%;*/
    --s: 140px; /* control the size */
    
    --_g: #0000 52%, #ffffff /* first color */ 54% 57%, #50505000 59%;
    background: radial-gradient(farthest-side at -33.33% 50%, var(--_g)) 0
        calc(var(--s) / 2),
        radial-gradient(farthest-side at 50% 133.33%, var(--_g)) calc(var(--s) / 2)
        0,
        radial-gradient(farthest-side at 133.33% 50%, var(--_g)),
        radial-gradient(farthest-side at 50% -33.33%, var(--_g)), #67917a00; /* second color */
    background-size: calc(var(--s) / 4.667) var(--s),
        var(--s) calc(var(--s) / 4.667);
}