<div style="width: auto; padding: 20px 20px 0px 20px;">
    <div style="width: auto; border-style: dashed; border-width: 1px; border-color: rgba(0, 0, 0, 0.228);"></div>
    
    <div style="text-align: center; margin-top: 20px; color: rgba(0, 0, 0, 0.455);">
        <span style="font-size: 30px; text-align: center;">
            ᕱ⑅ᕱ  
        </span><br>
        <span class="pixeled-text">
            little evil wxrks
        </span><br>
        <a href="https://github.com/p4zaa" target="_blank" style="color: rgba(0, 0, 0, 0.455);">
            <i class="fab fa-github"></i>
        </a>
    </div>
</div>
