<div class="menu-bar-container">
    <span>
        little evil wxrks
    </span>
</div>

<!-- _includes/menu_bar.html -->
<nav>
    <ul>
        <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
        <li><a href="{{ site.baseurl }}/about.html">About</a></li>
        <li><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
        <li><a href="{{ site.baseurl }}/services.html">Services</a></li>
        <li><a href="{{ site.baseurl }}/projects/dataflower.html">DataFlower</a></li>
    </ul>
</nav>