<!-- _includes/menu_bar.html -->
<div class="menu-bar-container">
    <div class="flex-space-between">
        <span style="cursor: pointer;">
            <span class="menu-bar-text" style="margin-right: 15px; font-size: 20px; transform: translate(0%, -30%);">
                ᕱ ⑅ ᕱ
            </span>
            <span class="pixeled-text menu-bar-text">
                little evil wxrks
            </span>
        </span>
        <span>
            <span class="menu-bar-text" style="margin-right: 20px; font-size: 20px; transform: translate(0%, -30%);">
                GEGE
            </span>
            <span class="pixeled-text menu-bar-text">
                EZ GOGO
            </span>
        </span>
    </div> 
</div>