<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/menu_bar_style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/page_style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/block_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <!--link rel="stylesheet" href="path/to/menu_bar_style.css"-->
    <title>{{ page.title }}</title>
    <!--style>
        header {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000; /* Ensure the menu bar stays on top */
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for a floating effect */
        }
    </style-->
</head>
<body>
    {% include menu_bar.html %}

    <main>
        <div class="main-content-block">
            <div class="left-side-container">
                {{ content }}
            </div>
        </div>
        <div class="sub-content-block">
            <div class="right-side-container">
                <div class="toc-content">
                    <h2>Table of Contents</h2>
                    {% include toc.html html=content %}
                </div>
            </div>
        </div>
    </main>

    <!-- Uncomment if you have a main.js file -->
    <script src="{{ site.baseurl }}/js/main.js"></script>
</body>
</html>
