<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/menu_bar_style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/page_style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/block_style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/pattern_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>{{ page.title }}</title>
</head>
<body class="notepad-pattern">
    {% include menu_bar.html %}

    <main style="padding: 0px;">
        
        <div class="main-content-block" style="width: 80%;">
            {{ content }}
        </div>
    </main>

    <!-- Uncomment if you have a main.js file -->
    <script src="{{ site.baseurl }}/js/main.js"></script>
</body>
</html>
